aniso8601==7.0.0
asgiref==3.7.2
autopep8==2.0.2
begins==0.9
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-adminlte-3==0.1.6
django-cors-headers==4.2.0
django-erd==1.0
django-extensions==3.2.3
django-filter==23.2
django-graphql-auth==0.3.16
django-graphql-jwt==0.4.0
django-jsonfield-backport==1.0.5
django-silk==5.0.3
django-slugify-processor==1.3.1
djangorestframework==3.14.0
exceptiongroup==1.1.2
gprof2dot==2022.7.29
graphene==2.1.9
graphene-django==2.16.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
idna==3.4
iniconfig==2.0.0
packaging==23.1
Pillow==10.0.0
pluggy==1.2.0
promise==2.3
pycodestyle==2.11.0
pydot==1.4.2
pygraphviz==1.11
PyJWT==2.8.0
pyparsing==3.1.1
pytest==7.4.0
pytest-django==4.5.2
python-slugify==8.0.1
pytz==2023.3
requests==2.31.0
Rx==1.6.3
singledispatch==4.0.0
six==1.16.0
sqlparse==0.4.4
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
