

{% extends 'base.html' %}
{% load static %}

  <h1>قائمة المنتجات</h1>

  <!--img src="{% static 'imgs/image.png' %}" alt="My Image"-->
  <ul id="product-list"></ul>



  

  {% block content %}
    <h2>Documents</h2>
    <ul>
      {% for document in documents %}
        <li>
          {{ document.description }} - 
          <a href="{% url 'download' document.id %}">Download</a>
        </li>
      {% empty %}
        <li>No documents found.</li>
      {% endfor %}
    </ul>
  {% endblock %}




